:root{
  --lightgreen: #55d6aa;
  --black: #171321;
  --font-size: 1.3rem;
  --font-Oxygen: Oxygen, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--black);
  font-size: var(--font-size);
  font-family: var(--font-Oxygen);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  min-height: 100vh;
}