.message-title > h4{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
}

.your-message-container{
    display: flex;
    justify-content: flex-end;
}
.your-message {
    border: solid;
    border-radius: 30px;
    width: 300px;
    color: black;
    padding: 10px;
    display:flex;
    background-color: greenyellow;
}

.other-message-container{
    display: flex;
    justify-content: flex-start;
}

.other-message-container p {
    margin-top: 0;
}

.other-message {
    border: solid;
    border-radius: 30px;
    width: 300px;
    color: black;
    padding: 10px;
    display:flex;
    background-color: blanchedalmond;
    justify-content: left;
    display: grid;
}