 .chat-container{
    
    justify-content: center;
    gap:1rem;
    align-items: center;
    overflow:auto;   

    height: 100%;
 }

.chat-header{
    height: 5%;
}

.chat-body{
    height: 80%;
}

.footer-container{
    background-color: ghostwhite;
    height: 15%;
}