.header {
    background: var(--lightgreen);
    height: 10vh;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit
} 

.logoContainer{
  color: black;
}

.header::after {
  content: "";
  display: table;
  clear: both;
  padding: 0
}
  