header {
    background: #55d6aa;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

/* header {
    
  }
  
  header::after {
    content: "";
    display: table;
    clear: both;
    padding: 0
  }
  
    
    align-items: center;
    position: relative;
    padding: 30px, 10%;
    
    box-sizing: border-box;

  .container{
    align-items: center;
  }
  /* .logo-container{
    float: left;
  }
  
  
  .user-container{
    float: right;
  } */ 